@font-face{
	font-family:'poppins';
	src: url(font/Poppins-Regular.ttf) format('truetype');
	font-style: normal;
	font-weight: normal;
	 font-display: swap;
}


@font-face{
	font-family:'poppins-b';
	src: url(font/Poppins-Bold.ttf) format('truetype');
	 font-display: swap;
}

@font-face{
	font-family:'audiowide';
	src: url(font/Audiowide-Regular.ttf) format('truetype');
	 font-display: swap;
}

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
	/*scroll-behavior: smooth;*/
}

.rojo{
	color: #FF0000;
	font-family: 'Poppins-b', sans-serif;
}

.LandingPG{
	width: 100%;
	align-items: center;
	display: flex;
	height: 100vh;
	padding: 100px;
	background-image: url(../images/fn.png);
	background-size: cover;
	background-position: center;
}


.content{
	position: relative;
	margin-left: 22px;
	display: flex;
	width: 45%;
	justify-content: space-between;
	align-items: center;
}

.content .text-area h1{
    text-transform: uppercase;
    font-size: 42px;
    margin-bottom: 6px;
    color: white;
    width: 100%;
    font-family: 'Poppins-b', sans-serif;
    line-height: 1.1em;
}

.content .text-area p{
    font-size: 18px;
    margin-bottom: 6px;
    color: white;
    margin-top: 10px;
    min-width: 100px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}

.content .text-area img{
	margin-bottom: 15px;
	width: 163px;
	height: 137px;
}



.statistics{
    display: flex;
    gap: 3rem;
    font-family: l;
}
.statistic{
    text-align: center;
    margin-top: 1rem;
}

.s{
    background: -webkit-linear-gradient(90deg, #ee128f , #f3111c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.material-symbols-outlined{
	color: #fff;
}

.point{
	display: flex;
	flex-direction: row;
}

.lol{
	display: flex;
	flex-direction: row;
	margin-right: 30px;
	 align-items: center;
  justify-content: center;

}


.icon{
	margin-right: 7px;
	font-size: 12px;
}

.content .point .lol p{
	font-size: 14px;
}

.content2{
	width: 100%;
	height: 90vh;
	background-image: url(../images/fondo2.webp);
    display: flex;
    align-items: center;
  	justify-content: center;
  	flex-direction: column;
 	 background-size: cover;
	background-position: center;
	animation: slide 10s infinite;

}

.content2 .text1 h2{
	color: #fff;
	font-family: 'Audiowide', cursive;
	font-size: 38px;
	margin-bottom: 20px;
}

.content2 .text1 p{
	color: #fff;
	text-align: center;
	font-size: 19px;
	font-family: 'Poppins', sans-serif;
	line-height: 1.1em;
}

.text1{
	width: 60%;
	display: flex;
	flex-direction: column;
    align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}


.pelis{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.img1 img, .img2 img, .img3 img, .img4 img{
	width: 286px;
	height: 448px;
	margin-right: 25px;
}

.lazyLoad{
	 width: 100%;
    opacity: 0;
}
.visible {
    transition: opacity 1000ms ease;
    opacity: 1;
}
.scroll{
	position: relative;
	width: 100%;
	height: auto;
	overflow: hidden;
	background: #000;
}

.scroll::before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: radial-gradient(transparent, transparent, #0005, #0004);
	z-index: 10000;
	pointer-events: none;
}

.scroll{
	width: calc(100% + 400px);
	left: -400px;
	display: flex;
	color: #fff;
	box-shadow: 0 15px 10px rgba(0, 0, 0, 0.5);
	
}
.scroll div{
	background: #e9c804;
	color: #1d1104;
	font-size: 2.5em;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	white-space: nowrap;
	animation: animate 60s linear infinite;
}

.scroll div span{
	font-weight: 700;
	font-family: 'Audiowide', cursive;
}



@keyframes animate{
	0%{
		transform: translate(0,0);
	}
	100%{
		transform: translate(-100%,0);
	}

}

.content3{
	width: 100%;
	height: 80vh;
	background-image: url(../images/fondo3.webp);
    display: flex;
    align-items: center;
  	justify-content: center;
  	flex-direction: column;
 	 background-size: cover;
	animation: slide 10s infinite;
}

.cont3{
	width: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba( 255, 4, 4, 0.05 );
	backdrop-filter: blur( 10px );
	-webkit-backdrop-filter: blur( 20px );
	border-radius: 12px;
	padding: 40px;
}


.cont3 img{
	width: 515px;
	height: 362px;
}
.cont3 h2{
	font-family: 'Audiowide', cursive;
	line-height: 1.1em;
	font-size: 32px;
	margin-bottom: 20px;
}
.cont3 p{
	font-family: 'Poppins', sans-serif;
	font-size: 19px;
	line-height: 1.3em;
}
.cont3 h2, p{
	color: #fff;
}


.content4{
	width: 100%;
	height: 130vh;
	background: #000;
    display: flex;
    align-items: center;
  	justify-content: center;
  	flex-direction: column;
 	 background-size: cover;
	animation: slide 10s infinite;
}

.pass1{
	display: flex;
    align-items: center;
  	justify-content: center;
  	flex-direction: column;
  	width: 80%;
}

.pass1 h2{
	font-family: 'Audiowide', cursive;
	line-height: 1.1em;
	font-size: 32px;
	margin-bottom: 20px;
	color: #fff;
}

.cajas{
	margin-top: 20px;
	display: flex;
	flex-direction: row;
	align-items: center;
  	justify-content: center;
}
.caja1, .caja2, .caja3{
	display: flex;
	flex-direction: column;
	align-items: center;
  	justify-content: center;
  	font-size: 19px;
  		font-family: 'Poppins', sans-serif;
  		line-height: 1.3em;
  		margin-right: 20px;
  		text-align: center;
  		font-weight: 500;
}

.caja1 .icon3{
	color: red;
	font-size: 80px;
	margin-bottom: 15px;
}

.caja2 .icon3{
	color: red;
	font-size: 80px;
	margin-bottom: 15px;
}
.caja3 .icon3{
	color: red;
	font-size: 80px;
	margin-bottom: 15px;
}

.pass22{
	display: flex;
    align-items: center;
  	justify-content: center;
  	flex-direction: column;
  	width: 80%;
}

.pass22 h2{
	font-family: 'Audiowide', cursive;
	line-height: 1.1em;
	font-size: 32px;
	margin-top: 40px;
	margin-bottom: 10px;
	color: #fff;
}

.caja4 img{
	width: 272px;
	height: 420px;
}

.pass22 .cajastwo{
	display: flex;
    align-items: center;
    flex-direction: row;
  	justify-content: center;
  	flex-direction: column;
  	width: 100%;
}

.caja31{
	display: flex;
	flex-direction: column;
	align-items: center;
  	justify-content: center;
  	font-size: 19px;
  		font-family: 'Poppins', sans-serif;
  		line-height: 1.3em;
  		margin-right: 20px;

}

.caja31 p{
	padding-right: 100px;
}

.caja4{
	width: 50%;
}

.locas{
	background: #202124;
	padding: 40px;
	border-radius: 12px;
}

.formp{
	width: 100%;
	background: #000;
	height: 40vh;
	display: flex;
	flex-direction: column;
	align-items: center;
  	justify-content: center;
  	padding-bottom: 10px;
}

.formp h2{
	color: #fff;
	font-family: 'Audiowide', cursive;
	font-size: 34px;
	text-align: center;
	margin-bottom: 20px;
	margin-top: 20px;
}

.formp div{
	width: 80%;
	display: flex;
	flex-direction: column;
	align-items: center;
  	justify-content: center;

}
#_form_4_{
	width: 90%;
	display: flex;
	flex-direction: column;
	align-items: center;
  	justify-content: center;

}
#_form_4_submit{
	width: 79%;
	margin-top: 15px;
	padding: 20px;
	border-radius: 12px;
	background: #ED0C0A;
	border: none;
	color: #fff;
	font-family: 'Poppins', sans-serif;
	font-size: 18px;
	margin-bottom: 15px;
	cursor: pointer;
	 border: 1px solid red;
}


#_form_3_{
	width: 100%;
}
#email{
	width: 100%;
	padding: 20px;
	border-radius: 12px;

}
::placeholder {
  color: #ababab;
  font-size: 16px
}

#_form_3_submit{
	width: 100%;
	margin-top: 15px;
	padding: 20px;
	border-radius: 12px;
	background: #ED0C0A;
	border: none;
	color: #fff;
	font-family: 'Poppins', sans-serif;
	font-size: 18px;
	margin-bottom: 15px;
	cursor: pointer;
	 border: 1px solid red;
}

.detalles{
	width: 100%;
	height: 40vh;
	background: #000;
    display: flex;
    align-items: center;
  	justify-content: center;
  	flex-direction: column;
 	 background-size: cover;
}

.detalles div{
	width: 80%;
}

.detalles div p{
	text-align: center;
	color: #ededed;
	font-size: 14px;
}

.stickify{
padding-top: 1.5% !important;
padding-bottom: 1.5% !important;
position: fixed;
bottom: 0;
width: 100%;
height: 15vh;
background: rgba( 255, 255, 255, 0.1 );
backdrop-filter: blur( 20px );
-webkit-backdrop-filter: blur( 20px );
} 

._form-contentpro{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}



._field-wrappertt, .email, ::placeholder{
	width: 250px;
	font-size: 12px;
}

._button-wrapper #_form_5_submit{
	width: 100%;
	margin-top: 15px;
	padding-top: 16px;
	padding-bottom: 16px;
	padding-right: 55px;
	padding-left: 55px;
	border-radius: 12px;
	background: #ED0C0A;
	border: none;
	color: #fff;
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	margin-bottom: 15px;
	cursor: pointer;
	 border: 1px solid red;
	 margin-left: 10px;
}

@media only screen and (max-width: 768px) {

	._form-contentpro{
		padding-right: 30px;
		padding-left: 30px;
	}


	._field-wrappertt, .email, ::placeholder{
	width: 150px;
	font-size: 10px;
	}


	._button-wrapper #_form_5_submit{
		width: 80%;
		padding-left: 25px;
		padding-right: 50px;
		font-size: 16px;

	}
	.stickify{
		height: 12vh;
	}
	.LandingPG{
	height: 100%;
	width: 100%;
	background-image: url(../images/imgfn2.png);
	padding: 20px;
	padding-top: 300px;
	}
	.content{
		width: 100%;
	}
	.content .text-area h1{
    text-transform: uppercase;
    font-size: 24px;
    margin-bottom: 6px;
    color: white;
    font-family: 'Poppins', sans-serif;
    line-height: 1.1em;
}
.content .text-area p{
    font-size: 18px;
}

.content{
	margin-left: 0;
}

#_form_3_{
	width: 100%;
}
.point{
	display: flex;
	flex-direction: column;
}
.content2{
	padding-top: 50px;
	height: 100%;
	width: 100%;
	padding-right: 20px;
	padding-left:20px ;
}

.content2 .text1 h2{
	font-size: 24px;
	width: 100%;
	text-align: center;
}
.text1{
	width: 100%;
}

.content2 .pelis img{
	margin-bottom: 20px;
	width: 80%;
	height: 80%;

}

.img1 img, .img2 img, .img3 img, .img4 img{
	margin-right: 0px;
}

.pelis{
	display: flex;
	flex-direction: column;
}

.content2 .i{
	display: flex;
	justify-content: center;
	align-items: center;
}
.content3{
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 50px;
	padding-bottom: 100px;
}
.cont3{
	width: 100%;
	display: flex;
	flex-direction: column-reverse;
	padding: 20px;
}

.cont3 h2{
	margin-top: 20px;
	font-size: 22px;
	width: 100%;
}

.content4{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	padding-top: 50px;
	padding-bottom: 50px;
	padding-right: 20px;
	padding-left: 20px;
}

.content4 .pass1 h2{
	text-align: center;
	font-size: 24px;
}

.cajas .icon3{
	font-size: 63px;
}

.cajas p{
	font-size: 18px;
	line-height: 1.1em;
}

.cj{
	margin-bottom: 40px;
}

.pass22{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.pass22 h2{
	font-size: 24px;
	color: #fff;
	text-align: center;
}

.locas{
	width: 100%;
	padding: 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.caja31{
display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
padding: 0;
margin-right: 0;
}
.caja31 p{
	padding: 0;
	font-size: 18px;
}
.caja4{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.caja4 img{
	width: 233px;
	height: 360px;
}

.caja4 p{
	font-size: 18px;
	font-style: italic;
	text-align: center;
}

.formp{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	padding: 20px;
	padding-bottom: 50px;
}

.formp h2{
	font-size: 24px;
	line-height: 1.1em;
}

#_form_4_{
	width: 100%;
}

#_form_4_submit{
	width: 100%;
}
.formp div{
	width: 100%;
}

.detalles{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	padding: 20px;
}
	.cont3 img{
		width: 350px;
		height: 239px;
	}
	.cajas{
	    display: flex;
	    flex-direction: column;
	}
	.scroll div span{
	font-size: 16px;
}
.scroll div{
	font-size: 1.5em;
	text-transform: uppercase;
	}
.scroll{
	height: 40px;
	
}

}